FormatVersion: 2.0.0
Version: 1.0.0
Name: Restart VM

Parameters:
  time: $time


Body: |
  return restart(args.time).stdout

Scripts:
  restart:
    Type: Application
    Version: 1.0.0
    EntryPoint: restart.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true